body {
  background: linear-gradient(to bottom, #ff99cc 0%, #33ccff 100%);
}

* {
  box-sizing: border-box;
}

.title {
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  color: #000000;
  background-color: #6077ff;
  border: solid #ffffff 3px;
  line-height: 20px;
}
.boss {
  width: 100%;
  display: flex;
  justify-content: center;
}

.side-left {
  box-sizing: border-box;
  float: left;
  width: 18%;
  height: 300px;
  border: 2px solid black;
  background: lightcoral;
  padding: 5px;
  font-size: large;
  margin: 20px 10px;
}

.cdata {
  color: black;
  font-family: cursive;
  font-size: 20px;
  margin: 10px 5px;
  padding: 5px;
  font-style: italic;
  font-weight: 600;
}

.side-right {
  box-sizing: border-box;
  float: right;
  width: 18%;
  height: 300px;
  border: 2px solid black;
  background: lightcoral;
  padding: 5px;
  font-size: large;
  margin: 20px 10px;
  overflow: hidden;
}

.cimg {
  width: 80%;
  margin: 20px;
  height: 100px;
}

.main {
  width: 65%;
  margin: 20px 0px;
}

table {
  font-family: verdana;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border-collapse: collapse;
  border: 4px solid #000000;
  border-style: groove;
}

table.inner {
  border: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 50%;
  padding: 6px 12px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
  width: 15%;
  padding: 8px 12px;
  margin: 5px 0;
  box-sizing: border-box;
}

.footer {
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  background-color: #6077ff;
  border: solid #ffffff 3px;
  line-height: 20px;
}

.footer .cpy a {
  text-decoration: none;
  color: #000000;
}

.footer .cpy a:hover {
  background: black;
  color: white;
}
